
.header {
height: 80px;
width: 100%;
position: fixed;
z-index: 10;
background-color: black;
}

.status {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: calc(100% - 160px);
}

.menu {
    float: right;
    list-style: none;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}

#logo {
    width: 74px;
    position: absolute;
    top: 3px;
 }

 li {
    float: left;  
    padding: 20 20 20 10; 
    border: 1px ;
   }


.lista:hover {
    background-color: white;
}

a {
    -background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    -text-transform: uppercase;
  }

.imagem {

    width: 30%;
    height: 50%;
    align-self: center;
}

