<div class="header">
  <div>
       <img id="logo" src='assets/Design sem nome.png' alt="logo">
  <ul>
      <li class="lista"><a routerLinkActive="active" routerLink="" class="menuz">Computadores</a></li>
      
  </ul>
</div >
 <!-- <div class="espimg">
      
      <img class="imagem" src="computador.png.png"> 

      <p><a href="./tela-principal.html" class="cor">Computador de: Jéssica e Maria </a></p> 
       
  </div> 
  <router-outlet></router-outlet>

  <div class="header">
    <div>
         <img id="logo" src="Design sem nome.png" alt="logo">
    <ul>
        <li class="lista" a href = "./telainicial.html"><a href="telainicial.html" class="menuz">Computadores</a></li>
        
    </ul>
  </div >

  <div class="header">
    <img id="logo" src="Design sem nome.png" alt="logo"> 
   
   <ul id="menu" class="fonte">
       <li class="lista" a href="./telainicial.html"><a href="telainicial.html" class="menuz">Computadores</a></li>
       
   </ul> -->
</div>
<router-outlet> </router-outlet>